.Rproj.user
.Rhistory
.RData
.Ruserdata
plots
Humor-Sans-1.0.ttf
Survey.Rproj
data/data.csv
data/postdata_201706.csv
data/postworkshopDC.csv
data/predata_201706.csv
data/preworkshopDC.csv
testingScripts/


